.clearfix:after {       
    content: ".";    
    display: block;  
    clear: both;     
    visibility: hidden;    
    line-height: 0;
    height: 0;     
    font-size:0;   
}
.clearfix { *zoom:1;}
.showImg{
    display: block;
    width: 3.435185rem;
    height: 1.971429rem;
    margin: 0 3.277778rem 1.333333rem;
    padding-top: 3.283333rem;
}
.pageStatus{
    font-size: 0.388889rem;
    margin-bottom: 0.12rem;
    margin-left: 2.592593rem;
    color: #666666;
}
a.backToLastPage{
    color: #10B9B9;
    text-decoration: underline;
    font-size: 0.416667rem;
    margin-left: 2.592593rem;
    margin-top: 0.555556rem;
}

