<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-orientation" content="portrait" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="green"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>我的血压记录</title>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/link.js"></script>
    <script type="text/javascript" src="/common/mint-ui.js"></script>
    <link rel="stylesheet" href="/common/mint-ui.css">
    <link rel="stylesheet" type="text/css" href="/common/common.css">
    <link rel="stylesheet" type="text/css" href="/common/style.css">
    <link rel="stylesheet" type="text/css" href="/common/dateRange.css"/>
    <link rel="stylesheet" type="text/css" href="/common/monthPicker.css"/>
    <link rel="stylesheet" type="text/css" href="/css/records/myBloodPresureTrend.css">
    <script type="text/javascript" src="/common/dateRange.js"></script>
    <script type="text/javascript" src="/common/monthPicker.js"></script>
    <script type="text/javascript" src="/js/echarts.min.js"></script>
</head>
<body>
    <div id="app" v-cloak>
        <!-- 二级导航部分 -->
        <p class="navigator">
            <span class="icon-arrow-left"></span>
            我的血压记录
            <span class="icon-date"></span>
        </p>
        <div class="ta_date">
            <span class="date_title" id="rangeDate"></span>
            <a class="opt_sel" id="input_trigger_rangeDate" href="#"></a>
        </div>
        <!-- 内容区 -->
        <!-- 头部tabs -->
        <div class="headTabs">
            <div :class="flag?'selectedTab':''" @click="history">记录</div>
            <div :class="flag?'':'selectedTab'" @click="history">趋势</div>
        </div>
        <div class="reportItemPart clearfix">
            <div class="reportItemPartLeft">
                <p class="reportItemLineOne">查询结果</p>
                <p class="reportItemLineTwo">{{bloodData.start_time}}--{{bloodData.end_time}}</p>
            </div>
            <div class="reportItemPartRight">
                <p class="reportItemLineOne">{{bloodData.count}}条记录</p>
                <p class="reportItemLineTwo">max:{{bloodData.max}}mmHg</p>
            </div>
        </div>
        <!-- 记录部分 -->
        <div class="recordPart" v-show="flag"
             v-infinite-scroll="loadMore"
             infinite-scroll-disabled="loading"
             infinite-scroll-distance="200">
            <div class="singleRecord" v-for="(item,index) in bloodList" :key="index">
                <p class="recordDate">{{item.time}}</p>
                <div class="recordList" v-for="(list,index) in item.models" :key="index">
                    <div class="recordLine clearfix" :class="index==item.models.length-1?'recordLineLast':''">
                        <div class="recordLineLeft">
                            <span class="deleteIcon icon-warning" v-if="list.status==defined.abnormal"></span>
                            <span class="bloodPressureIcon icon-hc-blood-pressure"></span>
                            <span class="bloodPressure">{{list.systolic_pressure}}/{{list.diastolic_pressure}} mmHg</span>
                        </div>
                        <div class="recordLineMiddle">
                            <span class="heartIcon icon-hc-ecg"></span>
                            <span class="heartBeatTime">{{list.pulse}}次</span>
                        </div>
                        <div class="recordLineRight">
                            <span class="heartBeatRecordTime">{{list.time_msg}} {{list.time_slot}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 趋势部分 -->
        <div class="trendPart" style="height: 7rem ;width: 10rem" id="myChart" v-show="!flag">

        </div>
    </div>
</body>
<script type="text/javascript">
    new Vue({
        el: "#app",
        data() {
            return {
                flag:true,
                start_time: '',
                end_time: '',
                bloodData: {},
                bloodList: [],
                page: 0,
                loading: false,
                queryLoading: true,
                timeList: [],
                time: []
            }
        },
        created() {
            this.getTrendMap();
        },
        mounted(){
            var dateRange = new pickerDateRange('rangeDate', {
                aRecent7Days : 'aRecent7DaysDemo3', //最近7天
                isTodayValid : true,
                //startDate : '2013-04-14',
                //endDate : '2013-04-21',
                //needCompare : true,
                //isSingleDay : true,
                //shortOpr : true,
                defaultText : ' 至 ',
                inputTrigger : 'input_trigger_rangeDate',
                theme : 'ta',
                success : (obj) =>{
                    $("#dCon_demo3").html('开始时间 : ' + obj.startDate + '<br/>结束时间 : ' + obj.endDate);
                    this.start_time = obj.startDate;
                    this.end_time = obj.endDate;
                    this.page = 1;
                    this.bloodList = [];
                    this.bloodData = {};
                    this.timeList = [];
                    this.time = [];
                    this.getBlood();
                    this.getTrendMap();
                }
            });
        },
        methods: {
            // 上拉获取数据
            loadMore() {
                //  数据全部加载完
                if (this.page >= this.bloodData.pages) {
                    this.loading = true;
                    return false;
                }
                this.page += 1;
                this.getBlood();
            },
            // 获取 心电记录
            getBlood() {
                let url = $.formateUrl('wechat/record/pressure');
                let params = {
                    user_id: window.localStorage.getItem('memberId'),
                    page_size:defined.pageSize,
                    page: this.page,
                    start_time: this.start_time,
                    end_time: this.end_time
                };
                var ve = this;
                $.ajax({
                    url: url,
                    type: 'get',
                    data: params,
                    async: false,
                    beforeSend: ve => {
                        // this.$indicator.open();
                    },
                    success:res=>{
                        if (res.code == 0) {
                            this.timeList.push(res.content.data);
                            this.time = this.timeList[this.timeList.length - 2];
                            if (this.timeList.length == 1) {   //第一次加载
                                this.bloodData = res.content;
                                this.bloodList = res.content.data;
                                this.loading = false;
                            }
                            if (this.timeList.length > 1) {   //下拉加载的数据
                                if (this.time[this.time.length - 1].time == res.content.data[0].time) {   //上一次最后一个的时间和这次第一个时间的比较
                                    let lastArr = this.bloodList[this.bloodList.length - 1].models;    //上一次最后一个数组加载  循环  的内容
                                    for (let i = 0; i < res.content.data[0].models.length; i++) {      //当前第一个数组 放到上一次最后一个数组
                                        lastArr.push(res.content.data[0].models[i]);
                                    }
                                    for (let i = 1; i < res.content.data.length; i++) {
                                        this.bloodList.push(res.content.data[i]);
                                    }
                                    this.loading = false;
                                } else {
                                    for (let i = 1; i < res.content.data.length; i++) {
                                        this.bloodList.push(res.content.data[i]);
                                    }
                                    this.loading = false;
                                }
                            }
                        }else {
                            this.$toast(res.message);
                        }
                    },
                    complete: ve => {
                        this.$indicator.close();
                    }
                });
            },

// 获取趋势图
            getTrendMap() {
                this.$indicator.open();
                let url=$.formateUrl('wechat/record/pressure-chart');
                let params={
                    user_id:window.localStorage.getItem('memberId'),
                    start_time: this.start_time,
                    end_time: this.end_time
                };
                $.get(url,params,res=>{
                    if(res.code==0){
                        this.$indicator.close();
                        this.initChart(res.content);
                    }else {
                        this.$toast(res.message);
                    }
                    this.$indicator.close();
                })
            },
            initChart(chartData){
                let myChart = echarts.init(document.getElementById('myChart'));
                myChart.setOption({
                    backgroundColor: 'white',
                    title: {
                        text: '血压趋势图',
                        subtext: ''
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['舒张压','收缩压']
                    },
                    grid: {
                        left: '3%',
                        right: '6%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: chartData.chartDate
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            name:'舒张压',
                            type:'line',
                            barMaxWidth:30,
                            markPoint:{
                                data:[
                                    {
                                        type: 'max',
                                        name: '最大值'
                                    },{
                                        type: 'min',
                                        name: '最小值'
                                    }
                                ]
                            },
                            markLine:{
                                silent:true,
                                data:[
                                    {
                                        yAxis:90,
                                        lineStyle:{
                                            normal:{color:'green'}
                                        }
                                    }
                                ]
                            },
                            data:chartData.lineDiastolic
                        },
                        {
                            name:'收缩压',
                            type:'line',
                            barMaxWidth:30,
                            markPoint:{
                                data:[
                                    {
                                        type: 'max',
                                        name: '最大值'
                                    },{
                                        type: 'min',
                                        name: '最小值'
                                    }
                                ]
                            },
                            data:chartData.lineSystolic
                        }
                    ]
                });
            },
            history(){
                this.flag=!this.flag;
            },
        },
    })
</script>
</html>