.navigator{
    width: 10rem;
    text-align: center;
    font-size: 0.4rem;
    color: #fff;
    background-color: #10B9B9;
    height: 1.194444rem;
    line-height: 1.194444rem;
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 99;
}
.navigator img{
    display: block;
    float: left;
    margin-left: 0.555556rem;
    width: 0.277778rem;
    margin-top: 0.31rem;
}
.hospitalInfoPart{
    background-color: #fff;
    padding: 0.5rem;
    margin-top: 1.194444rem;
}
.hospitalInfoPart .hospitalGroup{
    font-size: 0.407407rem;
    color: #10b9b9;
    margin-bottom: 0.222222rem;
}
.hospitalInfoPart .hospitalTag {
    font-size: 0.351852rem;
    color: #999999;
    margin-bottom: 0.277778rem;
}
.hospitalInfoPart .hospitalDetailInfo{
    font-size: 0.351852rem;
    color: #666666;
    line-height: 1.5;
}
.doctorList{
    border-top: 1px solid #999999;
    background-color: #fff;
    margin-bottom:  1.481483rem;
}
.doctorList .singleDoctor{
    margin: 0 0.555556rem;
    width: 8.888889rem;
    border-bottom: 1px solid #a0a0a0;
}
.clearfix:after {       
    content: ".";    
    display: block;  
    clear: both;     
    visibility: hidden;    
    line-height: 0;
    height: 0;     
    font-size:0;   
}
.clearfix { *zoom:1;}
.singleDoctor .doctorAvatar{
    float: left;
    width: 1.481481rem;
    height: 1.481481rem;
    border-radius: 0.740741rem;
    margin-top: 0.462963rem;
    margin-bottom: 0.462963rem;
    margin-right: 0.462963rem;
}
.singleDoctor .doctorAvatar img{
    width: 1.481481rem;
    height: 1.481481rem;
    border-radius: 0.740741rem;
    display: block;
}
.singleDoctor .doctorInfo {
    float: left;
    width: 6.944444rem;
}
.singleDoctor .doctorInfo p.introduction{
    width: 6.944444rem;
    float: left;
    margin-top: 0.5rem;
    margin-bottom: 0.16rem;
    height: 0.666667rem;
    line-height: 0.666667rem;
}
.singleDoctor .doctorInfo p.introduction span.doctorName{
    float: left;
    color: #333333;
    font-size: 0.416667rem;
}
.singleDoctor .doctorInfo p.introduction span.doctorPostage{
    float: left;
    color: #666666;
    font-size: 0.370370rem;
    margin-left: 0.462963rem;
}
.singleDoctor .doctorInfo p.introduction span.chairman{
    float: right;
    color: #10b9b9;
    font-size: 0.370370rem;
    display: block;
    width: 2.407407rem;
    height: 0.666667rem;
    line-height: 0.666667rem;
    border-radius: 0.333333rem;
    border: 1px solid #10b9b9;
    text-align: center;
}
.singleDoctor .doctorInfo p.advantage{
    font-size: 0.351852rem;
    color: #999999;
    width: 6.944444rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    float: left;
}
.bottomPart{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1.481481rem;
    line-height: 1.481481rem;
    width: 10rem;
    border-top: 1px solid #999999;
}
.bottomPart .bottomLeft{
    width: 5.833333rem;
    background-color: #efeff0;
    float: left;
}
.bottomPart .bottomLeft img{
    display: block;
    float: left;
    width: 0.425926rem;
    height: 0.425926rem;
    margin-left: 0.555556rem;
    margin-right: 0.212963rem;
    margin-top: 0.527778rem;
}
.bottomPart .bottomLeft span{
    color: #666666;
    font-size: 0.351852rem;
}
.bottomPart .bottomRight{
    float: left;
    width: 4.166667rem;
    color: #fff;
    background-color: #10b9b9;
    font-size: 0.416667rem;
    text-align: center;
}
span.icon-arrow-left:before{
    content: "\e903";
    font-size: 0.6rem;
    color: #fff;
    position: absolute;
    left: 0.444444rem;
    top: 0.3rem;
    display: block;
}
span.icon-hint:before{
    content: "\e917";
    font-size: 0.42rem;
    color: #10b9b9;
    margin-left: 0.555556rem;
}
















































































